<h1 class="display-4">Create new ingredient</h1>

<p>
    <form action="/Ingredients/Create" method="post">
        <input type="text" name="Name" placeholder="Name of ingredient" />
        <input type="text" name="Taste" placeholder="Taste, eg bitter, or salt" />
        <button>Create</button>
    </form>
</p>