@model List<Ingredient>
@{
    ViewData["Title"] = "Ingredients";
}

<h1 class="display-4">All our ingredients</h1>


@foreach (Ingredient ingredient in Model)
{
    <p>
        <b>@ingredient.Name </b>
        (tastes @ingredient.Taste)
        <a href="/Ingredients/Show/@ingredient.Id">details</a>
    </p>
}



<p><a href="/Ingredients/Create">Click here</a> to create a new ingredient.</p>