@model Ingredient

    <h1 class="display-4">Showing ingredient '@Model.Name'</h1>
    <p>'@Model.Name' has a taste of <b>'@Model.Taste'</b>.</p>

    <a href="/Ingredients/Edit/@Model.Id">Click here to edit this ingredient.</a>