@{
    ViewData["Title"] = "Food Instructions";
}

<div class="text-center">
    <h1 class="display-4">Food Instructions</h1>
    <p>Learn more about instructions for food.</p>
    <p>Please see our cool <a href="/Recipes">recipe page here</a>.</p>
    <p>Or our <a href="/Ingredients">page of ingredients</a>.</p>
</div>
